<p id="notice"><%= notice %></p>
<h2> Url: </h2>

long: <%= @url.long %> ,short: http://localhost:3000/<%= @url.short %>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>

